<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{EditContactTitle}">Edit Contact</title>
  <link rel="stylesheet" th:href="@{/css/jsfcrud.css}">
</head>
<body>

<h1 th:text="#{EditContactTitle}">Edit Contact</h1>

<form th:action="@{|/contacts/${contact.id}|}" th:object="${contact}" method="post">
  <table role="presentation">
    <tr>
      <td><label for="firstName" th:text="#{EditContactLabel_firstName}">First Name</label></td>
      <td>
        <input id="firstName" th:field="*{firstName}" th:title="#{EditContactTitle_firstName}" />
      </td>
      <td><div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red"></div></td>
    </tr>

    <tr>
      <td><label for="lastName" th:text="#{EditContactLabel_lastName}">Last Name</label></td>
      <td>
        <input id="lastName" th:field="*{lastName}" th:title="#{EditContactTitle_lastName}" />
      </td>
      <td><div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red"></div></td>
    </tr>

    <tr>
      <td><label for="birthday" th:text="#{EditContactLabel_birthday}">Birthday</label></td>
      <td>
        <!-- keep MM/dd/yyyy like JSF -->
        <input id="birthday" th:field="*{birthday}" placeholder="MM/dd/yyyy"
               th:title="#{EditContactTitle_birthday}" />
      </td>
      <td><div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" style="color:red"></div></td>
    </tr>

    <tr>
      <td><label for="homePhone" th:text="#{EditContactLabel_homePhone}">Home Phone</label></td>
      <td>
        <input id="homePhone" th:field="*{homePhone}" th:title="#{EditContactTitle_homePhone}" />
      </td>
      <td><div th:if="${#fields.hasErrors('homePhone')}" th:errors="*{homePhone}" style="color:red"></div></td>
    </tr>

    <tr>
      <td><label for="mobilePhone" th:text="#{EditContactLabel_mobilePhone}">Mobile Phone</label></td>
      <td>
        <input id="mobilePhone" th:field="*{mobilePhone}" th:title="#{EditContactTitle_mobilePhone}" />
      </td>
      <td><div th:if="${#fields.hasErrors('mobilePhone')}" th:errors="*{mobilePhone}" style="color:red"></div></td>
    </tr>

    <tr>
      <td><label for="email" th:text="#{EditContactLabel_email}">Email</label></td>
      <td>
        <input id="email" th:field="*{email}" th:title="#{EditContactTitle_email}" />
      </td>
      <td><div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></div></td>
    </tr>
  </table>

  <button type="submit" th:text="#{EditContactSaveLink}">Save</button>
</form>

<br/><br/>
<a th:href="@{|/contacts/view/${contact.id}|}" th:text="#{EditContactViewLink}">View</a>
<br/>
<a th:href="@{/contacts/list}" th:text="#{EditContactShowAllLink}">Show all</a>
<br/><br/>
<a th:href="@{/}" th:text="#{EditContactIndexLink}">Index</a>

</body>
</html>
