{#include _layout}
  {#title}{title}{/title}
  {#body}

    <p><a href="/contacts">{bundle.getString('EditContactShowAllLink')}</a></p>

    <form action="{action}" method="post">
      <table role="presentation">
        <tr>
          <td><label for="firstName">{bundle.getString('CreateContactLabel_firstName')}</label></td>
          <td><input id="firstName" name="firstName" value="{contact.firstName}" title="{bundle.getString('CreateContactTitle_firstName')}"></td>
        </tr>
        <tr>
          <td><label for="lastName">{bundle.getString('CreateContactLabel_lastName')}</label></td>
          <td><input id="lastName" name="lastName" value="{contact.lastName}" title="{bundle.getString('CreateContactTitle_lastName')}"></td>
        </tr>
        <tr>
          <td><label for="birthday">{bundle.getString('CreateContactLabel_birthday')}</label></td>
          <td><input id="birthday" name="birthday" type="date" value="{dateValue}" title="{bundle.getString('CreateContactTitle_birthday')}"></td>
          <td></td>
        </tr>
        <tr>
          <td><label for="homePhone">{bundle.getString('CreateContactLabel_homePhone')}</label></td>
          <td><input id="homePhone" name="homePhone" value="{contact.homePhone}" title="{bundle.getString('CreateContactTitle_homePhone')}"></td>
          <td class="error">{#if errors}{errors['homePhone']}{/if}</td>
        </tr>
        <tr>
          <td><label for="mobilePhone">{bundle.getString('CreateContactLabel_mobilePhone')}</label></td>
          <td><input id="mobilePhone" name="mobilePhone" value="{contact.mobilePhone}" title="{bundle.getString('CreateContactTitle_mobilePhone')}"></td>
          <td class="error">{#if errors}{errors['mobilePhone']}{/if}</td>
        </tr>
        <tr>
          <td><label for="email">{bundle.getString('CreateContactLabel_email')}</label></td>
          <td><input id="email" name="email" value="{contact.email}" title="{bundle.getString('CreateContactTitle_email')}"></td>
          <td class="error">{#if errors}{errors['email']}{/if}</td>
        </tr>
      </table>

      <p><button type="submit" class="linklike">{bundle.getString('CreateContactSaveLink')}</button></p>
    </form>

    {#if errorList}
      <ul class="flash error">
        {#for msg in errorList}
          <li>{msg}</li>
        {/for}
      </ul>
    {/if}

    <p>
      <a href="/contacts">{bundle.getString('CreateContactShowAllLink')}</a><br/><br/>
      <a href="/contacts">{bundle.getString('CreateContactIndexLink')}</a>
    </p>

  {/body}
{/include}
