<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="#{login.title}">Login</title>
    <link rel="stylesheet" th:href="@{/css/mailreader.css}" type="text/css" />
</head>

<body onload="self.focus(); document.getElementById('username').focus();">

    <form th:action="@{/login}" th:object="${loginForm}" method="post">
        <!-- Display errors if any -->
        <div th:if="${#fields.hasErrors()}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>

        <label for="username" th:text="#{username}">Username</label>
        <input type="text" id="username" th:field="*{username}" />
        <br />

        <label for="password" th:text="#{password}">Password</label>
        <input type="password" id="password" th:field="*{password}" />
        <br />

        <button type="submit" th:text="#{button.logon}">Log In</button>
        <br />
        <button type="reset" th:text="#{button.reset}">Reset</button>
        <br />
        <button type="submit" th:formaction="@{/login/cancel}" th:text="#{button.cancel}">Cancel</button>
    </form>

    <!-- Include the footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>