<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <title th:text="#{${registrationForm.task == 'Create'} ? 'registration.title.create' : 'registration.title.edit'}">
        Registration
    </title>
    <link rel="stylesheet" th:href="@{/css/mailreader.css}" />
</head>

<body onload="document.getElementById('username')?.focus();">

    <form th:action="@{/registration}" method="post" th:object="${registrationForm}">
        <!-- Display errors -->
        <div th:if="${#fields.hasErrors()}">
            <div th:each="err : ${#fields.errors('*')}">
                <p th:text="${err}">Error</p>
            </div>
        </div>

        <input type="hidden" th:field="*{task}" />

        <div th:if="${registrationForm.task == 'Create'}">
            <label for="username" th:text="#{username}">Username:</label>
            <input type="text" th:field="*{username}" id="username" />
        </div>
        <div th:unless="${registrationForm.task == 'Create'}">
            <label th:text="#{username}">Username:</label>
            <span th:text="*{username}"></span>
            <input type="hidden" th:field="*{username}" />
        </div>

        <label for="password" th:text="#{password}">Password:</label>
        <input type="text" th:field="*{password}" class="masked-password" />
        <br />

        <label for="password2" th:text="#{password2}">Confirm Password:</label>
        <input type="password" th:field="*{password2}" id="password2" />
        <br />

        <label for="fullName" th:text="#{user.fullName}">Full Name:</label>
        <input type="text" th:field="*{fullName}" id="fullName" />
        <br />

        <label for="fromAddress" th:text="#{user.fromAddress}">From Address:</label>
        <input type="email" th:field="*{fromAddress}" id="fromAddress" />
        <br />

        <label for="replyToAddress" th:text="#{user.replyToAddress}">Reply-To Address:</label>
        <input type="email" th:field="*{replyToAddress}" id="replyToAddress" />
        <br />

        <div>
            <button type="submit" th:text="#{button.save}">Save</button>
            <button type="reset" th:text="#{button.reset}">Reset</button>
            <a th:href="@{${registrationForm.task == 'Create'} ? '/welcome' : '/mainMenu'}">
                <button type="button" th:text="#{button.cancel}">Cancel</button>
            </a>
        </div>
    </form>

    <!-- Show subscriptions if editing -->
    <div th:if="${registrationForm.task == 'Edit'}">
        <div align="center">
            <h3 th:text="#{heading.subscriptions}">Subscriptions</h3>
        </div>
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th align="center" width="30%" th:text="#{heading.host}">Host</th>
                    <th align="center" width="25%" th:text="#{heading.user}">User</th>
                    <th align="center" width="10%" th:text="#{heading.type}">Type</th>
                    <th align="center" width="10%" th:text="#{heading.autoConnect}">AutoConnect</th>
                    <th align="center" width="15%" th:text="#{heading.action}">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sub : ${registrationForm.subscriptions}">
                    <td align="left" th:text="${sub.host}"></td>
                    <td align="left" th:text="${sub.username}"></td>
                    <td align="center" th:text="${sub.type}"></td>
                    <td align="center" th:text="${sub.autoConnect}"></td>
                    <td align="center">
                        <a th:href="@{/subscription/delete/{host}(host=${sub.host})}"
                            th:text="#{registration.deleteSubscription}">Delete</a>
                        &nbsp;
                        <a th:href="@{/subscription/edit/{host}(host=${sub.host})}"
                            th:text="#{registration.editSubscription}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/subscription/create}" th:text="#{registration.addSubscription}">Add Subscription</a>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>