<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:if="${subscriptionForm.task == 'Create'}">
        <title th:text="#{subscription.title.create}">Create Subscription</title>
    </th:block>
    <th:block th:if="${subscriptionForm.task == 'Edit'}">
        <title th:text="#{subscription.title.edit}">Edit Subscription</title>
    </th:block>
    <th:block th:if="${subscriptionForm.task == 'Delete'}">
        <title th:text="#{subscription.title.delete}">Delete Subscription</title>
    </th:block>
    <link rel="stylesheet" th:href="@{/css/mailreader.css}" />
</head>

<body onload="document.getElementById('username').focus()">

    <form th:action="@{/subscription/save}" th:object="${subscriptionForm}" method="post">
        <!-- Display errors -->
        <div th:if="${#fields.hasErrors()}">
            <div th:each="err : ${#fields.errors('*')}">
                <p th:text="${err}">Error</p>
            </div>
        </div>

        <input type="hidden" th:field="*{task}" />

        <label th:text="#{username}">Username:</label>
        <span th:text="${subscriptionForm.user}"></span><br />

        <div th:if="${subscriptionForm.task == 'Create'}">
            <label for="host" th:text="#{host}">Host:</label>
            <input type="text" th:field="*{host}" /><br />
        </div>
        <div th:unless="${subscriptionForm.task == 'Create'}">
            <label th:text="#{host}">Host:</label>
            <span th:text="*{host}"></span>
            <input type="hidden" th:field="*{host}" />
        </div>

        <div th:if="${subscriptionForm.task == 'Delete'}">
            <label th:text="#{subscription.username}">Username:</label>
            <span th:text="*{username}"></span>
            <input type="hidden" th:field="*{username}" /><br />

            <label th:text="#{subscription.password}">Password:</label>
            <span th:text="*{password}"></span>
            <input type="hidden" th:field="*{password}" /><br />

            <label th:text="#{subscription.type}">Type:</label>
            <span th:text="*{type}"></span>
            <input type="hidden" th:field="*{type}" /><br />

            <label th:text="#{subscription.autoConnect}">Auto Connect:</label>
            <span th:text="*{autoConnect}"></span>
            <input type="hidden" th:field="*{autoConnect}" /><br />

            <button type="submit" th:text="#{button.confirm}">Confirm</button>
        </div>
        <div th:unless="${subscriptionForm.task == 'Delete'}">
            <label for="username" th:text="#{subscription.username}">Username:</label>
            <input id="username" type="text" th:field="*{username}" /><br />

            <label for="password" th:text="#{subscription.password}">Password:</label>
            <input type="text" th:field="*{password}" /><br />

            <label for="type" th:text="#{subscription.type}">Type:</label>
            <select th:field="*{type}">
                <option th:each="entry : ${types}" th:value="${entry.key}" th:text="${entry.value}">
                </option>
            </select><br />

            <label for="autoConnect" th:text="#{subscription.autoConnect}">Auto Connect:</label>
            <input type="checkbox" th:field="*{autoConnect}" /><br />

            <button type="submit" th:text="#{button.save}">Save</button>
            <button type="reset" th:text="#{button.reset}">Reset</button>
        </div>

        <a th:href="@{/registration}">
            <button type="button" th:text="#{button.cancel}">Cancel</button>
        </a>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>