<!-- # Exclude everything by default -->
<!-- * -->
<!-- # Include essential files for build -->
!pom.xml
!mvnw
!.mvn/
!src/
!smoke.py
<!-- # Include necessary build artifacts for runtime stage -->
!target/*-runner